APP_PORT=8080
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_AUTH=password
RATELIMIT_WINDOW=1
RATELIMIT_LINIT=10
 
REDIS_DSN="redis://:${REDIS_AUTH}@${REDIS_HOST}:${REDIS_PORT}"

BEANSTALK_ADR="queue:11300"
BEANSTALK_TUBE_NAME=payment_tube

MAX_WORKERS=1

# Database Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=fraud_db
POSTGRES_PORT=db

# DSN for the Go App & Migrations
# Note: Use 'db' as the hostname when running inside Docker
# Use 'localhost' if you are running the Go app manually on your machine
POSTGRESQL_DSN="postgres://:${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_PORT}:5432/${POSTGRES_DB}?sslmode="disable"

WEBSOCKET_PORT=9000